<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  	<div class="form-group">
    	<%= f.input :first_name, input_html: { class: 'form-control' } %>
  	</div>
  	<div class="form-group">
    	<%= f.input :last_name, input_html: { class: 'form-control' } %>
  	</div>
  	<div class="form-group">
    	<%= f.input :dob, start_year: Date.today.year - 60, end_year: Date.today.year - 6, input_html: { class: 'form-control' } %>
  	</div>
  	<div class="form-group">
    	<%= f.input :height, input_html: { class: 'form-control' } %>
  	</div>
  	<div class="form-group">
    	<%= f.input :weight, input_html: { class: 'form-control' } %>
  	</div>
  	<div class="form-group">
    	<%= f.input :link, input_html: { class: 'form-control' } %>
  	</div>

  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  </div>
<% end %>
