<% if current_user.has_role? :trainer %>
<div class="row">
  <div class="col-md-6" style="border: 1px solid white;">
    <%= render 'clients/form' %>
  </div>
</div>
<% end %>

<% if current_user.training?(@profiles) %>
  <h1>Listing of your clients</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>First name</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
        <% if current_user.training?(profile.user) %>
          <tr>
            <td><%= link_to profile.first_name.capitalize, profile %></td>
            <td><%= profile.user.email %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if Client.find_by(trainer: current_user.id) %>
 <h1>Enrollments pending</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Date sent</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @pending.each do |pending| %>
          <tr>
            <td><%= pending.created_at %></td>
            <td><%= pending.email %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>


<% if current_user.has_role? :admin %>

  <h1>Listing of all profiles</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>First name</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.reverse_order.each do |profile| %>
        <% if profile.user.has_role? :admin %>
          <tr class="admin">
        <% elsif profile.user.has_role? :trainer %>
          <tr class="trainer">
        <% else %>
          <tr class="client">
        <% end %>
            <td><%= link_to profile.first_name.capitalize, profile %></td>
            <td><%= profile.user.email %></td>
            </tr>
      <% end %>
    </tbody>
  </table>
<% end %>