<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" class="btn btn-success" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          List of your clients
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <% if @rel.any? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>First name</th>
              <th>Email</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @profiles.each do |profile| %>
              <% if current_user.training?(profile.user) %>
                <tr>
                  <td>
                  
                    <%= link_to profile.first_name.capitalize + " " + profile.last_name.capitalize, profile_path(profile) %>
                  </td>
                  <td><%= profile.user.email %></td>
                  <td><%= link_to "M", message_path(@message, receiver_id: profile.user.id), class:'btn btn-info' %></td>
                  <td><%= link_to "P", new_programme_path(client_id: profile.user.id), class:'btn btn-primary' %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <%= render 'clients/form' %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @rel.any? %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Enroll a client
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= render 'clients/form' %>
      </div>
    </div>
  </div>
  <% end %>
  <% if Client.find_by(trainer: current_user.id) %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Pending enrollments
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Date sent</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @pending.each do |pending| %>
                <tr>
                  <td><%= pending.created_at.to_time.strftime('%e %b %Y') %></td>
                  <td><%= pending.email %></td>
                  <td><%= link_to 'X', pending, method: :delete, data: { confirm: 'Are you sure you want to cancel this enrollment?' }, class:'btn btn-danger' %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>




<% if current_user.has_role? :admin %>

  <h1>Listing of all profiles</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>First name</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.reverse_order.each do |profile| %>
        <% if profile.user.has_role? :admin %>
          <tr class="admin">
        <% elsif profile.user.has_role? :trainer %>
          <tr class="trainer">
        <% else %>
          <tr class="client">
        <% end %>
            <td><%= link_to profile.first_name.capitalize, profile %></td>
            <td><%= profile.user.email %></td>
            </tr>
      <% end %>
    </tbody>
  </table>
<% end %>