<% if current_user.has_role? :trainer %>
<div class="row">
  <div class="col-md-6" style="border: 1px solid white;">
    <%= render 'clients/form' %>
  </div>
</div>
<% end %>

<h1>Listing of your clients</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <% if current_user.training?(profile.user) %>
        <tr>
          <td><%= link_to profile.first_name.capitalize, profile %></td>
          <td><%= profile.user.email %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<h1>Clients with no PTs</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <% if (profile.user.has_role? :client) && (!profile.user.has_trainer?) && (current_user != profile.user) %>
        <% if profile.user.has_role? :admin %>
          <tr class="admin">
        <% elsif profile.user.has_role? :trainer %>
          <tr class="trainer">
        <% else %>
          <tr class="client">
        <% end %>
          <td><%= link_to profile.first_name.capitalize, profile %></td>
          <td><%= profile.user.email %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<% if current_user.has_role? :admin %>

  <h1>Listing of all profiles</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>First name</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.reverse_order.each do |profile| %>
        <% if profile.user.has_role? :admin %>
          <tr class="admin">
        <% elsif profile.user.has_role? :trainer %>
          <tr class="trainer">
        <% else %>
          <tr class="client">
        <% end %>
            <td><%= link_to profile.first_name.capitalize, profile %></td>
            <td><%= profile.user.email %></td>
            </tr>
      <% end %>
    </tbody>
  </table>
<% end %>