<!-- <p id="notice"><%= notice %></p> -->

<div class="col-md-6">
<% if current_user.has_role? :client %>
  <div class="highlight">
    <% if current_user.has_trainer?  && (current_user.has_role? :client) %>
      Your trainer is: <%= current_user.my_trainer.profile.first_name + ' ' + current_user.my_trainer.profile.last_name %><% @rel.each do |rel| %><!--#link_to 'Fire', rel, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' -- this could cause issues, because a client without a trainer can't do anything and must be able to be enrolled by another trainer -- they'll have to delete their profile completely for this to work properly --><% end %>
    <% elsif current_user.has_role? :client %>
      You currently don't have a trainer.
    <% end %>
  </div>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>
<% if current_user.has_role? :client %>
  <p>
    <strong>Gender:</strong>
    <%= @profile.gender %>
  </p>
  <p>
    <strong>Dob:</strong>
    <%= @profile.dob %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= @profile.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= @profile.weight %>
  </p>
  <p>
    <strong>Bodyfat:</strong>
    <%= @profile.bodyfat %>
  </p>
  <p>
    <strong>Injuries:</strong>
    <%= @profile.injuries %>
  </p>
  
  <% if current_user.has_trainer? && (current_user.has_role? :client) %>
    <p>
      <strong>Engagement agreement:</strong>
      <%= current_user.my_trainer.profile.engagement.html_safe %>
    </p>
    <p>
      <strong>Induction questions:</strong>
        <ol>
          <% @questions.where(user: @profile.user.my_trainer).each do |q| %><!-- display the questions that were made by this profile's user's trainer -->
            <li>
                <%= q.content %>
                <% if !q.answers.where(user: @profile.user).any? %> <!-- if this profile's user hasn't answered this question, display 'unanswered' -->
                  <i><%= link_to 'Click to answer', new_answer_path(:question_id => q) %></i>
                <% else %>
                  <% @answers.where(question: q).each do |ans| %>
                    <i><%= ans.content %></i> <%= link_to 'change answer', answers_path, class: 'btn btn-warning' %>
                  <% end %>
                <% end %>
            </li>
          <% end %>
      </ol>
    </p>
  <% end %>

<% elsif current_user.has_role? :trainer %> <!-- if it's a trainer viewing a profile -->
  <% if @profile.user == current_user %> <!-- and they're viewing their own profile -->
    <p>
      <strong>Engagement agreement:</strong>
      <%= @profile.engagement.html_safe %>
    </p>
    <ol>
      These are your induction questions:
        <% @questions.each do |q| %>
          <li><%= q.content %></li>
        <% end %>
    </ol>
  <% else %><!-- otherwise they must be viewing a client's profile -->
    <p>
      <strong>Gender:</strong>
      <%= @profile.gender %>
    </p>
    <p>
      <strong>Dob:</strong>
      <%= @profile.dob %>
    </p>

    <p>
      <strong>Height:</strong>
      <%= @profile.height %>
    </p>

    <p>
      <strong>Weight:</strong>
      <%= @profile.weight %>
    </p>
    <p>
      <strong>Bodyfat:</strong>
      <%= @profile.bodyfat %>
    </p>
    <p>
      <strong>Injuries:</strong>
      <%= @profile.injuries %>
    </p>
    <p>
      <strong>Agreed to engagement?</strong>
      <%= @profile.agreed %>
    </p>
    <p>
      <strong>Induction answers:</strong>
      <ol>
          <% @questions.each do |q| %>
            <li>
                <%= q.content %>
                <% if !q.answers.where(user: @profile.user).any? %> <!-- if this user hasn't answered this question, display 'unanswered' -->
                  <i>Unanswered</i>
                <% else %>
                  <% @answers.where(question: q).each do |ans| %>
                    <i><%= ans.content %></i>
                  <% end %>
                <% end %>
            </li>
          <% end %>
      </ol>
    </p>
  <% end %>
<% end %>

</div>




<!-- display a button that let an admin switch a client to PT and vice-versa -->
<% if (current_user.has_role? :admin) && (@profile.user != current_user) %>
<p style="text-align:right;">
  <% if @profile.user.has_role? :trainer %>
    <%= link_to 'make ' + @profile.first_name + ' a client', downgrade_profile_path, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'make ' + @profile.first_name + ' a PT', promote_profile_path, class: 'btn btn-primary' %>
  <% end %>
</p>
<% end %>

<% if @profile == current_user.profile %>
  <% if current_user.has_role? :trainer %>
    <%= link_to 'Edit your induction questions', questions_path, class:'btn btn-default' %>
  <% end %>
  <%= link_to 'Edit your profile', edit_profile_path(@profile), class:'btn btn-default' %>
  <!-- button that let a user sign out -->
  <%= link_to 'Sign out' , destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
<% end %>
