<p id="notice"><%= notice %></p>

<h2><%= link_to 'Back to programmes', programmes_path, class:'btn btn-primary' %></h2>
<% if current_user == @profile.user %>
  <h2><%= link_to 'Edit', edit_profile_path(@profile), class:'btn btn-default' %></h2>
<% end %>
<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @profile.weight %>
</p>

<p>
  <strong>Link:</strong>
  <%= @profile.link %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user.email %>
</p>


