<div class="row">
  <div class="col-md-4 col-xs-12">
    <%= simple_form_for(@programme) do |f| %>
    <%= f.error_notification %>
      <%= f.collection_select :user_id, User.all, :id, :email, include_blank: true %>
    	<div class="form-group">
      	<%= f.input :description, input_html: { class: 'form-control' } %>
    	</div>
    	<div class="form-group">
      	<%= f.input :due_date, input_html: { class: 'form-control' } %>
    	</div>
      <div class="form-group">
        <%= f.submit 'Submit', class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
