<%= simple_form_for(@programme) do |f| %>
<%= f.error_notification %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <% if @client %>
          <h4>Programme for <%= @client.profile.first_name %></h4>
          <%= f.input :client, as: :hidden, input_html: { value: @client.id } %>
        <% else %>
          <%= f.collection_select :client, current_user.clients , :id, :email, prompt: 'Select a client' %><br>
        <% end %>
      	 <%= f.input :description, input_html: { class: 'form-control' } %>
      </div>
      <div class="col-md-6">
      Date:
      <%= f.input :due_date, label: false, input_html: { class: 'form-control' } %>
      <%= f.submit 'Submit', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>

