<% if current_user.has_role? :client %>
  <div class="highlight">
    <% if current_user.has_trainer?  && (current_user.has_role? :client) %>
      Your trainer is: <%= current_user.my_trainer.first_name + ' ' + current_user.my_trainer.last_name %>
    <% elsif current_user.has_role? :client %>
      You currently don't have a trainer.
    <% end %>
  </div>
<% end %>

<% if current_user.has_role? :trainer %>
<h3>List of programmes (Draft)</h3>
  <%= link_to 'New programme', new_programme_path, class:'btn btn-success' %>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Client</th>
        <th>Due date</th>
        
      </tr>
    </thead>
    <tbody>
      <% @programmes.reverse_order.each do |programme| %>
        <% if (programme.user == current_user) && (programme.programme_status == 'draft')%>
          <tr>
            <td><%= link_to programme.description, programme, class: 'btn btn-primary' %></td>
            
            <td><%= (User.where('id = ?', programme.client)).first.profile.first_name.capitalize %></td>

            <td><%= programme.due_date %></td>
            
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <h3>List of programmes (Completed)</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Due date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @programmes.reverse_order.each do |programme| %>
        <% if (programme.user == current_user) && (programme.programme_status == 'completed')%>
          <tr>
            <td><%= link_to programme.description, programme %></td>
            <td><%= programme.due_date %></td>
            <td><%= programme.programme_status %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

  <h3>List of programmes (Assigned)</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Due date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @programmes.reverse_order.each do |programme| %>
        <% if ((programme.user_id == current_user.id) || (programme.client == current_user.id)) && (programme.programme_status == 'assigned')%>
          <tr>
            <td><%= link_to programme.description, programme %></td>
            <td><%= programme.due_date %></td>
            <td><%= programme.programme_status %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

