<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-4">
	<h2><%= link_to 'Back to programmes', programmes_path, class:'btn btn-primary' %></h2>
	<hr>
	<h4><strong>Client: </strong><%= @programme.user.email %></h4>
	<h5><%= link_to 'Edit', edit_programme_path(@programme), class:'btn btn-success' %><strong> Due date: </strong><%= @programme.due_date %></h5>
	<p>
	  <%= @programme.description %>
	</p>
	
	</div>

	<div class="col-md-4">

	<%= link_to 'Add another exercise', new_spec_path(programme: @programme.id), class:'btn btn-warning'%>
		<% @exercises.reverse_order.each do |exercise| %>
	        
	          <li><%= exercise.name %>
	          	Time: <%= exercise.specs.where('programme_id = ?', @programme.id).first.time %>
	          	<br>
	          	<%= exercise.specs.where('programme_id = ?', @programme.id).first.serie %> Series
	          	of <%= exercise.specs.where('programme_id = ?', @programme.id).first.rep %> reps 
	          	at tempo <%= exercise.specs.where('programme_id = ?', @programme.id).first.tempo %>
	          </li>
	     <% end %>
    </div>
</div>

