<% if notice %>
<p id="notice" class="alert alert-success" role="alert"><%= notice %></p>
<% end %>
<div class="row">
<div class="col-md-6">
	
		<%= simple_form_for(@programme) do |f| %>
			<%= f.error_notification %>
			<div class="row">
				<% if (current_user.has_role? :trainer) && (@programme.programme_status == 'draft') %>
					<div class="col-xs-6">
						<%= link_to 'Edit', edit_programme_path(@programme), class:'btn btn-success' %>
					</div>
						<div class="col-xs-6 text-right">
					      	<%= link_to 'Send to client', change_status_programme_path(@programme.id), class:'btn btn-danger' %>
				      	</div>
				<% end %>
				<% if ((current_user.has_role? :client) && (@programme.client == current_user.id))%>
					<div class="col-xs-12 text-right">
    					<%= link_to 'Send for review', change_status_programme_path, class:'btn btn-danger' %>
    				</div>
    			<% end %>

	      	</div>
    	<% end %>


		
	<h3><%= @programme.description %></h3><h5>Due date: <%= @programme.due_date %></h5>
	<% if (current_user.has_role? :trainer) && (@programme.programme_status == 'draft') %>
		<%= link_to 'Add Exercise', new_spec_path(programme: @programme.id), class:'btn btn-info'%>
	
		<% end %>
</div>
<div class="col-md-6">
<% @exercises.each do |exercise| %>
	<div class="panel panel-default">
  		<div class="panel-heading">
  		<% if current_user.has_role? :trainer %>
		    <%= link_to exercise.name, edit_spec_path(exercise.specs.where('programme_id = ?', @programme.id).first), class:'btn btn-warning' %>
		    <%= exercise.specs.where('programme_id = ?', @programme.id).first.time.strftime('%M') %> min
		    <% if exercise.specs.where('programme_id = ?', @programme.id).first.set %> rest time<% end %>
		    <%= link_to 'X', remove_spec_path(exercise.specs.where('programme_id = ?', @programme.id).first), class:'btn btn-danger', data: { confirm: 'Are you sure?' } %>
		<% else %>
			<%= link_to exercise.name, '#', class:'btn btn-warning disabled' %>
			<%= exercise.specs.where('programme_id = ?', @programme.id).first.time.strftime('%M') %> min
		    <% if exercise.specs.where('programme_id = ?', @programme.id).first.set %> rest time<% end %>
			<%= link_to '>', spec_path(exercise.specs.where('programme_id = ?', @programme.id).first), class:'btn btn-success'%>
		<% end %>
		</div>
		<% if exercise.specs.where('programme_id = ?', @programme.id).first.set %>
  		<div class="panel-body">
	    	<%= exercise.specs.where('programme_id = ?', @programme.id).first.set %> sets of <%= exercise.specs.where('programme_id = ?', @programme.id).first.rep %> reps at <%= exercise.specs.where('programme_id = ?', @programme.id).first.weight %> Kg
		
		
  		</div>
  		<% end %>
	</div>
<% end %>

</div>
</div>

