<h1>Your meal plan</h1>

<table class="table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Breakfast</th>
      <th>Lunch</th>
      <th>Dinner</th>
      <th>Snack</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_days.each do |meal_day| %>
      <tr>
        <td><%= meal_day.day %></td>
        <td><%= meal_day.breakfast %></td>
        <td><%= meal_day.lunch %></td>
        <td><%= meal_day.dinner %></td>
        <td><%= meal_day.snack %></td>
        <td><%= link_to 'journal your meal', new_meal_journal_path, class:'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.meal_journals.any? %>
  <h1>Your meal journal</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Meal</th>
        <th>What you ate</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @meal_journals.each do |meal_journal| %>
        <tr>
          <td><%= meal_journal.date %></td>
          <td><%= meal_journal.meal %></td>
          <td><%= meal_journal.ate %></td>
          <td><%= link_to 'edit', edit_meal_journal_path(meal_journal), class:'btn btn-warning' %></td>
          <td><%= link_to 'delete', meal_journal_path(meal_journal), method: :delete, class:'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
