<% if !user_signed_in? %>
	<div class="row">

	<div class="col-md-6 col-xs-12">
		<h1>PaperLess.PT</h1>
		<p>
			<h2>Benefits</h2>
			<ul class="h4">
				<li>You have a dedicated PT making programs that fit you.</li>
				<li>You can follow the next program anytime, don't need to wait your PT to available when you're not.</li>
				<li>Easy to use, no need to install another app.</li>
			</ul>
			<br>
		</p>
	</div>


		<div class="col-md-6 col-xs-12">
			<%= link_to 'Sign In', new_user_session_path, class: 'btn trainer', id: 'sign-in' %>
			<%= link_to 'Sign up', new_user_registration_path, class: 'btn client', id: 'sign-up' %>
		</div>
	</div>
	<div class="row">
		<h2>Benefits</h2>
		<ul class="h4">
			<li>You have a dedicated PT making programs that fit you.</li>
			<li>You can follow the next program anytime, don't need to wait your PT to available when you're not.</li>
			<li>Easy to use, no need to install another app.</li>
		</ul>
	</div>

<% else %>
	<% if current_user.has_role? :client %>
		<div class="panel panel-default">
		  <div class="panel-heading text-center"><h3><%= @programme.description %></h3></div>
		  <div class="panel-body">
		  <p class="text-center">
		    <%= link_to 'Start!', @programme, class: 'btn btn-success' %>
		    </p>
		  </div>
		</div>

		<div class="text-center">
			<h4><%= link_to 'All programmes', programmes_path %></h4>
		</div>
	<% else %>
	<div class="text-center">
		<h4><%= link_to 'Create programme', new_programme_path, class: 'btn btn-success' %></h4>
		<h4><%= link_to 'All programmes', programmes_path, class: 'btn btn-primary' %></h4>
	</div>
	<% end %>


<% end %>



</div>