

<%= simple_form_for(@spec) do |f| %>
  <%= f.error_notification %>
    <div class="form-group">
      <%= f.association :exercise, input_html: { class: 'form-control' }, prompt: 'Select an exercise' %>
    </div>
  	<div class="form-group">
    	<%= f.input :weight, input_html: { class: 'form-control' } %>
  	</div>
    <div class="form-group">
      <%= f.input :set, input_html: { class: 'form-control' } %>
    </div>
  	<div class="form-group">
    	<%= f.input :rep, input_html: { class: 'form-control' } %>
  	</div>
  	<div class="form-group">
    	<%= f.input :tempo, input_html: { class: 'form-control' } %>
  	</div>
    <div class="form-group">
      <%= f.input :time, discard_hour: true, input_html: { class: 'form-control' }, default: Time.parse('0:01') %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Recap for this exercise</div>
      <div class="panel-body">
        <%= @spec.set_cl %> x <%= @spec.rep_cl %> with <%= @spec.weight_cl %>Kg
      </div>
      <div class="panel-heading">Note about this exercise</div>
      <div class="panel-body">
        <%= @spec.note %>
      </div>
    </div>

  	<% if @programme_id %>
      <%= f.input :programme_id, as: :hidden, input_html: { value: @programme_id } %>
    <% end %>
  	

  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-warning' %>
  </div>
<% end %>
