<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @spec.time %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @spec.serie %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @spec.rep %>
</p>

<p>
  <strong>Tempo:</strong>
  <%= @spec.tempo %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @spec.programme.id %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @spec.exercise.name %>
</p>

<%= link_to 'Edit', edit_spec_path(@spec) %> |
<%= link_to 'Back', specs_path %>
