<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<iframe width="560" height="315" src="<%= @spec.exercise.video %>" frameborder="0" allowfullscreen></iframe>

<p>
  <strong>Exercise:</strong>
  <%= @spec.exercise.name + ' (' + @spec.time.strftime('%H:%M') + ')'%>
</p>
<p>
  <strong>Sets:</strong>
  <%= @spec.serie.to_s + ' x ' + @spec.rep.to_s + ' at ' + @spec.tempo %>
</p>

<div class='row'>
  <div class='col-xs-6'>
    <%= link_to 'Cancel', @spec.programme, class:'btn btn-warning' %>
  </div>
  <div class='col-xs-6'>
    <%= link_to 'Done', @spec.programme, class:'btn btn-success' %>
  </div>
</div>