

<%= simple_nested_form_for(@exercise) do |f| %>
  <%= f.error_notification %>
    	<div class="form-group">
      	<%= f.input :name, input_html: { class: 'form-control' } %>
    	</div>
    	<div class="form-group">
      	<%= f.input :description, input_html: { class: 'form-control' } %>
    	</div>
    	<div class="form-group">
      	<%= f.input :video, label: 'YouTube video', input_html: { class: 'form-control' } %>
    	</div>
      Just copy this part of the YouTube link:
      <%= image_tag 'youtube_link.png' %>
  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-info' %>
  </div>
<% end %>