<% if @exercices %>
  <h3>Search for exercises:</h3>
  <form class="form-inline" role="form">
    <div class="form-group col-md-6">
      <%= form_tag exercises_path, :method => :get do %>
      <div class="row">
        <div class="col-xs-9">
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
        </div>
        <div class="col-xs-3">
          <%= submit_tag "Search", :name => nil, class: "btn btn-success" %>
        </div>
        </div>
      <% end %>
    </div>
  </form>


<div class="row">
      <div class="col-xs-8">
        <h3>Listing exercises</h3>
      </div>
      <div class="col-xs-4">
        <%= link_to 'New Exercise', new_exercise_path, class:'btn btn-info' %>
      </div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Video</th>
      <th>Delete?</th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= link_to exercise.name, exercise_path(exercise), class:'btn btn-info' %></td>
        <td><%= exercise.description %></td>
        <% if exercise.video? %>
          <td><a href="http://www.youtube.com/watch?v=<%= exercise.video %>" target="_blank"><i class="fa fa-play"></i></a></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'X', exercise_path(exercise), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>
You don't have any exercises yet
  <%= link_to 'Create an exercise', new_exercise_path, class: 'btn btn-info' %>
<% end %>


