<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_exercise_path(@exercise), class:'btn btn-info' %>
<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Video:</strong>
  <%= @exercise.video %>
</p>
