<nav role="navigation"
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        class="navbar navbar-fixed-top admin"
        <% else %>
          <% if current_user.has_role? :trainer %>
            class="navbar navbar-fixed-top trainer"
          <% else %>
            class="navbar navbar-fixed-top client"
          <% end %>
      <% end %>
    <% else %>
      style="display: none;"
    <% end %>
    >

  <div class="container">
    <!-- navbar displaying full menu if screen is big, or icons if mobile -->
      <% if user_signed_in? && current_user.profile %>
      <div class="row menu-top">
        <div class="navbutton-desktop"><%= link_to image_tag('logo.png'), root_path %></div>
        <div class="navbutton"><%= link_to ' ', root_path, class: 'fa fa-home btn btn-default' %></div>

        <% if current_user.has_role? :trainer %>
          <div class="navbutton-desktop"><%= link_to ' Clients', profiles_path, class: 'fa fa-male btn btn-default' %></div>
          <div class="navbutton"><%= link_to ' ', profiles_path, class: 'fa fa-male btn btn-default' %></div>
          <div class="navbutton-desktop"><%= link_to ' Exercises', exercises_path, class: 'fa fa-heart btn btn-default' %></div>
          <div class="navbutton"><%= link_to ' ', exercises_path, class: 'fa fa-heart btn btn-default' %></div>
        <% end %>

        <% if current_user.has_role? :client %>
          <div class="navbutton-desktop"><a class="fa fa-cutlery btn btn-default" href="<%= meal_days_path %>"> Meals</a></div>
          <div class="navbutton"><a class="fa fa-cutlery btn btn-default" href="<%= meal_days_path %>"> </a></div>
        <% end %>

        <div class="navbutton-desktop"><%= link_to ' Programmes', programmes_path, class: 'fa fa-list-ul btn btn-default' %></div>
        <div class="navbutton"><%= link_to ' ', programmes_path, class: 'fa fa-list-ul btn btn-default' %></div>
        
        <div class="navbutton-desktop"><%= link_to (" Messages <span id='nummess'>#{@nummess}</span>").html_safe, messages_path, class: 'fa fa-envelope btn btn-default' %></div>
        <div class="navbutton"><a class="glyphicon glyphicon-envelope btn btn-default" href="<%= messages_path %>"><span id="nummess"><%= @nummess %></span></a></div>


        <% if current_user.profile %>
          <div class="navbutton-desktop"><a class="fa fa-user btn btn-default" href="<%= profile_path(current_user.profile) %>"> MyProfile</a></div>
          <div class="navbutton"><a class="fa fa-user btn btn-default" href="<%= profile_path(current_user.profile) %>"> </a></div>
        <% end %>
      </div>
    <% else %>
    Welcome to Paperless PT
    <%= link_to 'Create your profile to get started', new_profile_path(current_user), class: 'fa fa-user btn btn-default' %>
    <% end %>
  </div>
</nav>

<% if user_signed_in? && current_user.profile %>
<div class="bottom-bar">
Signed in as <%= current_user.profile.first_name %>
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
</div>
<% end %>