<nav role="navigation"
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        class="navbar navbar-fixed-top admin"
        <% else %>
          <% if current_user.has_role? :trainer %>
            class="navbar navbar-fixed-top trainer"
          <% else %>
            class="navbar navbar-fixed-top client"
          <% end %>
      <% end %>
    <% else %>
      style="display: none;"
    <% end %>
    >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
      <% if user_signed_in? %>
      <div class="navbar-header">
      <a class="navbar-brand" href="/">Insert name and logo</a>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav nav-pills nav-stacked">
            <!-- if the signed in user is trainer, he can see a list of exercises -->
            <% if current_user.has_role? :trainer %>
              <% if current_user.has_role? :admin %>
                <li><%= link_to 'manage users', profiles_path %></li>
              <% else %>
                <li><%= link_to 'Clients', profiles_path %></li>
                <li><%= link_to 'Exercises', exercises_path %></li>
                <li><%= link_to 'Feedback' %></li>
              <% end %>
            <% end %>

            <li><%= link_to 'Programmes', programmes_path %></li>
            <li><a href="<%= messages_path %>">Messages<span class="badge"><%= @nummess %></span></a></li>
            <% if current_user.profile %>
              <li><%= link_to "My Profile", profile_path(current_user.profile) %></li>
            <% else %>
              <li><%= link_to 'Profile', new_profile_path %></li>
            <% end %>
            <li><%= link_to 'Sign out' , destroy_user_session_path, method: :delete %></li>
            <% if current_user.has_role? :admin %>
              <li><%= link_to 'become normal', lock_profile_path(current_user) %></li>
            <% else %>
              <li><%= link_to 'become Admin', unlock_profile_path(current_user) %></li>
            <% end %>
        </ul>
      </div>
      <% else %>
      </div>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        class="bottom-bar admin"
        <% else %>
          <% if current_user.has_role? :trainer %>
            class="bottom-bar trainer"
          <% else %>
            class="bottom-bar client"
          <% end %>
      <% end %>
    <% else %>
      style="display: none;"
    <% end %>>
    <% if user_signed_in? && current_user.profile %>
      Signed in as <%= current_user.profile.first_name.capitalize %>
    <% end %>
</div>