<!DOCTYPE html>
<html>
	<head>
	  <title>Paperless.PT</title>
		<%= csrf_meta_tags %>
	  <!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- turbo links for js -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!-- calling bootstrap -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <%= stylesheet_link_tag "bootstrap", media: "all", "data-turbolinks-track" => true %>
<!-- call application.css -->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  
<!-- call font-awesome -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	  
	  <!-- Google Font - Source Sans Pro -->
	  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
	  <!-- manage bit of the navbar -->
	  <meta name="viewport" content="width=device-width", user-scalable="no", initial-scale=1>
	</head>
	<body style="background-color: #222222;">
	
		<%= render 'layouts/navbar' %>

		<div class="container yield">
			<%= yield %>
		</div>
		
	</body>
</html>
